
@import 'bootstrap/dist/css/bootstrap.min.css';

/* npm i bootstrap-icons yapt覺ktan sonra node_modules alt覺ndan css tan覺mlad覺k */
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
